################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Plugins/Discord/source/.vs
/Plugins/Discord/source/Plugin.Common/bin
/Plugins/Discord/source/Plugin.Common/obj
/Plugins/Discord/source/Plugin.Common/Publish
/Plugins/Discord/source/Plugin.Discord/bin
/Plugins/Discord/source/Plugin.Discord/obj
/Plugins/Discord/source/Plugin.Discord/Publish
