<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ServerManagerTool.Plugin.Discord.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ServerManagerTool.Plugin.Discord.Config>
            <setting name="PluginCallUrlFormat" serializeAs="String">
                <value>https://servermanagers.azurewebsites.net/api/plugin/call/{0}/{1}/</value>
            </setting>
            <setting name="PluginCallUrlDelay" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="RequestTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="PluginCode" serializeAs="String">
                <value>1B745000-6389-4770-9509-C6A05E209323</value>
            </setting>
            <setting name="PluginName" serializeAs="String">
                <value>Discord Plugin</value>
            </setting>
            <setting name="LatestDownloadUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/Bletch1971/ServerManagers/master/Plugins/Discord/latest.zip</value>
            </setting>
            <setting name="LatestVersionUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/Bletch1971/ServerManagers/master/Plugins/Discord/latest.txt</value>
            </setting>
            <setting name="LatestBetaDownloadUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/Bletch1971/ServerManagers/master/Plugins/Discord/beta/latest.zip</value>
            </setting>
            <setting name="LatestBetaVersionUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/Bletch1971/ServerManagers/master/Plugins/Discord/beta/latest.txt</value>
            </setting>
            <setting name="PluginZipFilename" serializeAs="String">
                <value>ServerManager.Plugin.Discord.zip</value>
            </setting>
            <setting name="ConfigFile" serializeAs="String">
                <value>_discordplugin.cfg</value>
            </setting>
            <setting name="VersionFeedUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/Bletch1971/ServerManagers/master/Plugins/Discord/VersionFeed.xml</value>
            </setting>
            <setting name="VersionBetaFeedUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/Bletch1971/ServerManagers/master/Plugins/Discord/beta/VersionFeed.xml</value>
            </setting>
            <setting name="PublicIPCheckUrl1" serializeAs="String">
                <value>https://api.ipify.org</value>
            </setting>
            <setting name="PublicIPCheckUrl2" serializeAs="String">
                <value>https://whatismyip.akamai.com/</value>
            </setting>
        </ServerManagerTool.Plugin.Discord.Config>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
