<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ServerManagerTool.Common.CommonConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="ServerManagerTool.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ServerManagerTool.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  
  <runtime>
    <Thread_UseAllCpuGroups enabled="true"/>
    <GCCpuGroup enabled="true"/>
    <gcServer enabled="true"/>
  </runtime>
  
  <applicationSettings>
    <ServerManagerTool.Config>
      <setting name="SteamCmdUrl" serializeAs="String">
        <value>https://steamcdn-a.akamaihd.net/client/installer/steamcmd.zip</value>
      </setting>
      <setting name="SteamCmdExe" serializeAs="String">
        <value>SteamCMD.exe</value>
      </setting>
      <setting name="SteamCmdDir" serializeAs="String">
        <value>SteamCMD</value>
      </setting>
      <setting name="SteamCmdZip" serializeAs="String">
        <value>SteamCMD.zip</value>
      </setting>
      <setting name="SteamCmdInstallArgs" serializeAs="String">
        <value>+login anonymous +quit</value>
      </setting>
      <setting name="SteamCmdInstallServerArgsFormat" serializeAs="String">
        <value>+force_install_dir "{1}"  +login {0} "+app_update {2} {3} {4}" +quit</value>
      </setting>
      <setting name="ServersInstallDir" serializeAs="String">
        <value>Servers</value>
      </setting>
      <setting name="DefaultServerProfileName" serializeAs="String">
        <value>Unnamed Profile</value>
      </setting>
      <setting name="DefaultServerName" serializeAs="String">
        <value>Unnamed Server</value>
      </setting>
      <setting name="ServerBinaryRelativePath" serializeAs="String">
        <value>ShooterGame\Binaries\Win64</value>
      </setting>
      <setting name="ServerConfigRelativePath" serializeAs="String">
        <value>ShooterGame\Saved\Config\WindowsServer</value>
      </setting>
      <setting name="ServerExe" serializeAs="String">
        <value>ShooterGameServer.exe</value>
      </setting>
      <setting name="ServerCommandLineArgsMatchFormat" serializeAs="String">
        <value>?QueryPort={0}</value>
      </setting>
      <setting name="ServerCommandLineStandardArgs" serializeAs="String">
        <value>-nosteamclient -game -server</value>
      </setting>
      <setting name="ProfilesDir" serializeAs="String">
        <value>Profiles</value>
      </setting>
      <setting name="ProfileExtension" serializeAs="String">
        <value>.profile</value>
      </setting>
      <setting name="ServerProcessName" serializeAs="String">
        <value>ShooterGameServer</value>
      </setting>
      <setting name="ServerGameUserSettingsConfigFile" serializeAs="String">
        <value>GameUserSettings.ini</value>
      </setting>
      <setting name="IniExtension" serializeAs="String">
        <value>.ini</value>
      </setting>
      <setting name="LoadProfileExtensionList" serializeAs="String">
        <value>*.profile,*.ini</value>
      </setting>
      <setting name="LogsDir" serializeAs="String">
        <value>Logs</value>
      </setting>
      <setting name="ServerCommandLineArgsIPMatchFormat" serializeAs="String">
        <value>?MultiHome={0}</value>
      </setting>
      <setting name="LatestASMVersionUrl" serializeAs="String">
        <value>https://raw.githubusercontent.com/Bletch1971/ServerManagers/master/ASM/latest.txt</value>
      </setting>
      <setting name="UpdateCheckTime" serializeAs="String">
        <value>720</value>
      </setting>
      <setting name="SavedFilesRelativePath" serializeAs="String">
        <value>ShooterGame\Saved\SavedArks</value>
      </setting>
      <setting name="HelpUrl" serializeAs="String">
        <value>https://arkservermanager.freeforums.net/thread/1194/faq-frequently-asked</value>
      </setting>
      <setting name="AppPatchNotesUrl" serializeAs="String">
        <value>https://survivetheark.com/index.php?/forums/forum/5-changelog-patch-notes/</value>
      </setting>
      <setting name="AppPatchNotesUrlSotF" serializeAs="String">
        <value>https://survivetheark.com/index.php?/forums/forum/9-changelog-patch-notes/</value>
      </setting>
      <setting name="LastUpdatedTimeFile" serializeAs="String">
        <value>LastUpdatedASM.txt</value>
      </setting>
      <setting name="LauncherFile" serializeAs="String">
        <value>RunServer.cmd</value>
      </setting>
      <setting name="SteamCmdInstallModArgsFormat" serializeAs="String">
        <value>+login {0} +workshop_download_item {1} {2} +quit</value>
      </setting>
      <setting name="AppSteamWorkshopFolderRelativePath" serializeAs="String">
        <value>steamapps\workshop\content\{0}\</value>
      </setting>
      <setting name="ServerModsRelativePath" serializeAs="String">
        <value>ShooterGame\Content\Mods</value>
      </setting>
      <setting name="WebAlarmFile" serializeAs="String">
        <value>AlarmPostCredentials.txt</value>
      </setting>
      <setting name="SavedRelativePath" serializeAs="String">
        <value>ShooterGame\Saved</value>
      </setting>
      <setting name="WorkshopCacheFile" serializeAs="String">
        <value>workshopcache_{0}.json</value>
      </setting>
      <setting name="SteamCmd_AnonymousUsername" serializeAs="String">
        <value>anonymous</value>
      </setting>
      <setting name="SteamCmdAuthenticateArgs" serializeAs="String">
        <value>+login {0} {1} +quit</value>
      </setting>
      <setting name="SteamWorkshopFolderRelativePath" serializeAs="String">
        <value>steamapps\workshop</value>
      </setting>
      <setting name="AppSteamWorkshopFile" serializeAs="String">
        <value>appworkshop_{0}.acf</value>
      </setting>
      <setting name="AppId" serializeAs="String">
        <value>346110</value>
      </setting>
      <setting name="AppId_SotF" serializeAs="String">
        <value>407530</value>
      </setting>
      <setting name="AppIdServer" serializeAs="String">
        <value>376030</value>
      </setting>
      <setting name="AppIdServer_SotF" serializeAs="String">
        <value>445400</value>
      </setting>
      <setting name="ServerAppIdFile" serializeAs="String">
        <value>steam_appid.txt</value>
      </setting>
      <setting name="ClustersDir" serializeAs="String">
        <value>Clusters</value>
      </setting>
      <setting name="LatestASMBetaVersionUrl" serializeAs="String">
        <value>https://raw.githubusercontent.com/Bletch1971/ServerManagers/master/ASM/beta/latest.txt</value>
      </setting>
      <setting name="LatestASMBetaDownloadUrl" serializeAs="String">
        <value>https://raw.githubusercontent.com/Bletch1971/ServerManagers/master/ASM/beta/latest.zip</value>
      </setting>
      <setting name="LatestASMDownloadUrl" serializeAs="String">
        <value>https://raw.githubusercontent.com/Bletch1971/ServerManagers/master/ASM/latest.zip</value>
      </setting>
      <setting name="LatestASMPatchNotesUrl" serializeAs="String">
        <value>https://arkservermanager.freeforums.net/thread/5193/downloads</value>
      </setting>
      <setting name="LatestASMBetaPatchNotesUrl" serializeAs="String">
        <value>https://arkservermanager.freeforums.net/board/11/beta-testers</value>
      </setting>
      <setting name="ServerWhitelistFile" serializeAs="String">
        <value>PlayersJoinNoCheckList.txt</value>
      </setting>
      <setting name="ServerAdminFile" serializeAs="String">
        <value>AllowedCheaterSteamIDs.txt</value>
      </setting>
      <setting name="ServerExclusiveFile" serializeAs="String">
        <value>PlayersExclusiveJoinList.txt</value>
      </setting>
      <setting name="DefaultServerFolderName" serializeAs="String">
        <value>Server</value>
      </setting>
      <setting name="ServerStatusUrlFormat" serializeAs="String">
        <value>https://servermanagers.azurewebsites.net/api/server/{0}/{1}/{2}/{3}</value>
      </setting>
      <setting name="DefaultServerMap_PGM" serializeAs="String">
        <value>PGARK</value>
      </setting>
      <setting name="SavedPGMRelativePath" serializeAs="String">
        <value>PGArks</value>
      </setting>
      <setting name="DefaultPGMapName" serializeAs="String">
        <value>AsmPGArk</value>
      </setting>
      <setting name="BackupDir" serializeAs="String">
        <value>_backup_</value>
      </setting>
      <setting name="ServerGameConfigFile" serializeAs="String">
        <value>Game.ini</value>
      </setting>
      <setting name="SteamAPIKeyUrl" serializeAs="String">
        <value>https://steamcommunity.com/dev/apikey</value>
      </setting>
      <setting name="SteamWebAPIKeyHelpUrl" serializeAs="String">
        <value>https://arkservermanager.freeforums.net/thread/3024/get-own-steam-web-api</value>
      </setting>
      <setting name="BackupServerExtension" serializeAs="String">
        <value>.asmbak</value>
      </setting>
      <setting name="ScheduledTasksCheckTime" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ServerManagerPluginUrl" serializeAs="String">
        <value>https://arkservermanager.freeforums.net/board/22/plugins</value>
      </setting>
      <setting name="PlayerFileExtension" serializeAs="String">
        <value>.arkprofile</value>
      </setting>
      <setting name="TribeFileExtension" serializeAs="String">
        <value>.arktribe</value>
      </setting>
      <setting name="BackupExtension" serializeAs="String">
        <value>.zip</value>
      </setting>
      <setting name="MapExtension" serializeAs="String">
        <value>.ark</value>
      </setting>
      <setting name="UpdaterPrefix" serializeAs="String">
        <value>ASM_</value>
      </setting>
      <setting name="UpdaterFile" serializeAs="String">
        <value>ServerManagerUpdater.exe</value>
      </setting>
      <setting name="PlayerImageFileExtension" serializeAs="String">
        <value>.png</value>
      </setting>
      <setting name="ServerManagerCode" serializeAs="String">
        <value>6DCE02B1-8F41-4AF8-A6EA-E2E026CAB023</value>
      </setting>
      <setting name="GameDataDir" serializeAs="String">
        <value>GameData</value>
      </setting>
      <setting name="GameDataExtension" serializeAs="String">
        <value>.gamedata</value>
      </setting>
      <setting name="FirewallRulePrefix" serializeAs="String">
        <value>ARK Server:</value>
      </setting>
      <setting name="DonationUrl" serializeAs="String">
        <value>https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=bletch1971%40hotmail%2ecom&amp;lc=US&amp;item_name=Server%20Manager&amp;currency_code=USD&amp;bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted</value>
      </setting>
      <setting name="GameDataApplication" serializeAs="String">
        <value>ark</value>
      </setting>
      <setting name="TributeTribeFileExtension" serializeAs="String">
        <value>.arktributetribe</value>
      </setting>
      <setting name="SendMessageDelay" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="ServerManagerVersionFeedUrl" serializeAs="String">
        <value>https://raw.githubusercontent.com/Bletch1971/ServerManagers/master/ASM/VersionFeed.xml</value>
      </setting>
      <setting name="ServerManagerVersionBetaFeedUrl" serializeAs="String">
        <value>https://raw.githubusercontent.com/Bletch1971/ServerManagers/master/ASM/beta/VersionFeed.xml</value>
      </setting>
      <setting name="DefaultServerBranchName" serializeAs="String">
        <value>live</value>
      </setting>
      <setting name="SteamCmdInstallServerBetaNameArgsFormat" serializeAs="String">
        <value>-beta {0}</value>
      </setting>
      <setting name="SteamCmdInstallServerBetaPasswordArgsFormat" serializeAs="String">
        <value>-betapassword {0}</value>
      </setting>
      <setting name="ServerBranchFolderPrefix" serializeAs="String">
        <value>__</value>
      </setting>
      <setting name="AppSteamManifestFile" serializeAs="String">
        <value>appmanifest_{0}.acf</value>
      </setting>
      <setting name="SteamManifestFolderRelativePath" serializeAs="String">
        <value>steamapps</value>
      </setting>
      <setting name="DefaultGlobalizationFile" serializeAs="String">
        <value>Globalization\en-US\en-US.xaml</value>
      </setting>
      <setting name="ServerShutdownCommand" serializeAs="String">
        <value>doexit</value>
      </setting>
      <setting name="ServerSaveCommand" serializeAs="String">
        <value>saveworld</value>
      </setting>
      <setting name="DefaultStyleFile" serializeAs="String">
        <value>Styles\Default.xaml</value>
      </setting>
      <setting name="ScheduledTaskFolder" serializeAs="String">
        <value>ArkServerManager</value>
      </setting>
      <setting name="GameDataUrl" serializeAs="String">
        <value>https://arkservermanager.freeforums.net/board/25/game-data</value>
      </setting>
      <setting name="ServerStatusWatcher_LocalStatusQueryDelay" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="ServerStatusWatcher_RemoteStatusQueryDelay" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="ServerEngineConfigFile" serializeAs="String">
        <value>Engine.ini</value>
      </setting>
      <setting name="VersionFile" serializeAs="String">
        <value>version.txt</value>
      </setting>
      <setting name="DefaultDataDirectoryName" serializeAs="String">
        <value>asmdata</value>
      </setting>
      <setting name="DiscordBotApplyUrl" serializeAs="String">
        <value>https://discord.com/developers/applications</value>
      </setting>
      <setting name="DiscordBotHelpUrl" serializeAs="String">
        <value>https://arkservermanager.freeforums.net/thread/8764/get-own-discord-bot</value>
      </setting>
      <setting name="DiscordBotStatusCheckTime" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ServerCallUrlFormat" serializeAs="String">
        <value>https://servermanagers.azurewebsites.net/api/server/call/{0}/{1}/</value>
      </setting>
      <setting name="ServerCallUrlDelay" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="SaveGamesRelativePath" serializeAs="String">
        <value>SaveGames</value>
      </setting>
      <setting name="DiscordUrl" serializeAs="String">
        <value>https://discord.gg/cJdHJSG</value>
      </setting>
      <setting name="ServicePointManager_SecurityProtocol" serializeAs="String">
        <value>3072</value>
      </setting>
    </ServerManagerTool.Config>
    <ServerManagerTool.Common.CommonConfig>
      <setting name="DefaultSteamAPIKey" serializeAs="String">
        <value>0CC365BCCEF680F42F2FFF8431947772</value>
      </setting>
    </ServerManagerTool.Common.CommonConfig>
  </applicationSettings>
  
  <userSettings>
    <ServerManagerTool.Config>
      <setting name="ConfigDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="DataDir" serializeAs="String">
        <value />
      </setting>
      <setting name="MachinePublicIP" serializeAs="String">
        <value />
      </setting>
      <setting name="ManageFirewallAutomatically" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpgradeConfig" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RCON_PlayerListSort" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RCON_PlayerListFilter" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RCON_AdminName" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenRCON_ServerIP" serializeAs="String">
        <value />
      </setting>
      <setting name="OpenRCON_RCONPort" serializeAs="String">
        <value>32330</value>
      </setting>
      <setting name="CultureName" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="SectionAdministrationIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionAutomaticManagementIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionRulesIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionChatAndNotificationsIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionHUDAndVisualsIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionPlayerSettingsIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionDinoSettingsIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionEnvironmentIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionStructuresIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionEngramsIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionCustomLevelsIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionSOTFIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomLevelXPIncrease_Player" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="CustomLevelXPIncrease_Dino" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="RunAsAdministratorPrompt" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoUpdate_EnableUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoUpdate_UpdatePeriod" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ServerShutdown_GracePeriod" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="ServerShutdown_GraceMessage1" serializeAs="String">
        <value>Server shutdown required. Server will shutdown in {minutes} minutes. Please logout before shutdown to prevent character corruption.</value>
      </setting>
      <setting name="ServerShutdown_GraceMessage2" serializeAs="String">
        <value>Server shutdown required. Server will shutdown in 1 minute. Please logout before shutdown to prevent character corruption.</value>
      </setting>
      <setting name="ServerShutdown_GraceMessage3" serializeAs="String">
        <value>Server shutdown required. Server is shutting down now.</value>
      </setting>
      <setting name="ServerShutdown_WorldSaveMessage" serializeAs="String">
        <value>Server shutdown required. Server is about to shutdown, performing a world save.</value>
      </setting>
      <setting name="ServerShutdown_EnableWorldSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoUpdate_CacheDir" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerUpdate_UpdateModsWhenUpdatingServer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServerUpdate_ForceUpdateMods" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerUpdate_ForceCopyMods" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SteamCmdRedirectOutput" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoUpdate_UseSmartCopy" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StyleName" serializeAs="String">
        <value />
      </setting>
      <setting name="Email_Host" serializeAs="String">
        <value />
      </setting>
      <setting name="Email_Port" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="Email_UseSSL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Email_UseDetaultCredentials" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Email_Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Email_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Email_From" serializeAs="String">
        <value />
      </setting>
      <setting name="Email_To" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailNotify_AutoUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmailNotify_AutoRestart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SteamCmd_Username" serializeAs="String">
        <value />
      </setting>
      <setting name="SteamCmd_UseAnonymousCredentials" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SteamCmd_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="ValidateProfileOnServerStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SectionCustomGameUserSettingsIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionCustomGameSettingsIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerUpdate_OnServerStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionServerFilesIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmailNotify_ShutdownRestart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionPGMIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionMapSpawnerOverridesIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerShutdown_CancelMessage" serializeAs="String">
        <value>Server shutdown has been cancelled.</value>
      </setting>
      <setting name="SectionCraftingOverridesIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionSupplyCrateOverridesIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerUpdate_ForceUpdateModsIfNoSteamInfo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoBackup_EnableBackup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoBackup_BackupPeriod" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="EmailNotify_AutoBackup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoBackup_DeleteOldFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoBackup_DeleteInterval" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ServerBackup_WorldSaveMessage" serializeAs="String">
        <value>A world save is about to be performed, you may experience some lag during this process. Please be patient.</value>
      </setting>
      <setting name="AutoUpdate_RetryOnFail" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoUpdate_ShowUpdateReason" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoUpdate_ValidateServerFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoUpdate_OverrideServerStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerManagerUniqueKey" serializeAs="String">
        <value />
      </setting>
      <setting name="SectionSupplyCrateOverridesEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SectionCraftingOverridesEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SectionMapSpawnerOverridesEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoUpdate_ParallelUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoUpdate_UpdateReasonPrefix" serializeAs="String">
        <value>Server Update Reason:</value>
      </setting>
      <setting name="Alert_ServerStopMessage" serializeAs="String">
        <value>The server is stopping.</value>
      </setting>
      <setting name="Alert_ServerShutdownMessage" serializeAs="String">
        <value>The server is shutting down.</value>
      </setting>
      <setting name="Alert_ServerStartedMessage" serializeAs="String">
        <value>The server is starting.</value>
      </setting>
      <setting name="Alert_BackupProcessError" serializeAs="String">
        <value>The server backup process was performed but an error occurred.</value>
      </setting>
      <setting name="Alert_ShutdownProcessError" serializeAs="String">
        <value>The server shutdown process was performed but an error occurred.</value>
      </setting>
      <setting name="Alert_RestartProcessError" serializeAs="String">
        <value>The server restart process was performed but an error occurred.</value>
      </setting>
      <setting name="Alert_UpdateProcessError" serializeAs="String">
        <value>The server update process was performed but an error occurred.</value>
      </setting>
      <setting name="Alert_ModUpdateDetected" serializeAs="String">
        <value>Mod updates have been detected:</value>
      </setting>
      <setting name="ServerShutdown_WorldSaveDelay" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ServerShutdown_UseShutdownCommand" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Alert_ServerStatusChange" serializeAs="String">
        <value>Server Status:</value>
      </setting>
      <setting name="Alert_ServerUpdate" serializeAs="String">
        <value>Game Server Update</value>
      </setting>
      <setting name="Alert_UpdateResults" serializeAs="String">
        <value>Update performed, includes:</value>
      </setting>
      <setting name="Alert_ForceRespawnDinos" serializeAs="String">
        <value>A wild dino wipe is scheduled after the server starts and may delay login until it is complete. Please be patient.</value>
      </setting>
      <setting name="BackupPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerShutdown_AllMessagesShowReason" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CloseShutdownWindowWhenFinished" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PlayerListFilter" serializeAs="String">
        <value>63</value>
      </setting>
      <setting name="PlayerListSort" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SectionPGMEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionSOTFEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerStatus_EnableActions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServerStatus_ShowActionConfirmation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoUpdate_SequencialDelayPeriod" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SectionStackSizeOverridesEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SectionStackSizeOverridesIsExpanded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BackupWorldFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoUpdate_VerifyServerAfterUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainWindow_Width" serializeAs="String">
        <value>1100</value>
      </setting>
      <setting name="MainWindow_Height" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="ServerMonitorWindow_Width" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="ServerMonitorWindow_Height" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="UpdateDirectoryPermissions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerShutdown_CheckForOnlinePlayers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServerShutdown_SendShutdownMessages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoRestart_EnabledGracePeriod" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoRestart_GracePeriod" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindow_MinimizeToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionCustomEngineSettingsIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionCustomEngineSettingsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerMonitorMessageOutput_Height" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Alert_ServerStartedMessageIncludeIPandPort" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ManagePublicIPAutomatically" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SectionPreventTransferOverridesIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionPreventTransferOverridesEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreventTransferOverrideGridHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="SupplyCratesGridHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SupplyCrateItemSetsGridHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SupplyCrateItemSetEntriesGridHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SupplyCrateItemsGridHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="NPCSpawnSettingsGridHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="StackSizeOverrideGridHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="CraftingOverrideItemGridHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="CustomLevelsGridHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="CustomEngineSettingsGridHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="CustomGameSettingsGridHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="CustomGameUserSettingsGridHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="ServerFilesGridHeight" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="EngramsGridHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="EnvironmentListBoxHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="DinoSettingsGridHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="MOTDHeight" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MainWindow_WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="MainWindow_Left" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="MainWindow_Top" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="DiscordBotEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DiscordBotPrefix" serializeAs="String">
        <value>asm!</value>
      </setting>
      <setting name="DiscordBotToken" serializeAs="String">
        <value />
      </setting>
      <setting name="DiscordBotServerId" serializeAs="String">
        <value />
      </setting>
      <setting name="SectionDiscordBotIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowDiscordBackup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowDiscordUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowDiscordStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowDiscordRestart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowDiscordShutdown" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowDiscordStop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServerMonitorWindow_Left" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ServerMonitorWindow_Top" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="DiscordBotPrefixFixed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DiscordBotLogLevel" serializeAs="String">
        <value>Info</value>
      </setting>
      <setting name="DiscordBotAllowAllBots" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoggingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoggingMaxArchiveFiles" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="LoggingMaxArchiveDays" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ServerCallUrlLast" serializeAs="String">
        <value>2000-01-01</value>
      </setting>
      <setting name="CheckIfServerManagerRunningOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServerStartMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerMonitorWindow_WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="SectionServerDetailsIsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RCON_MessageCommand" serializeAs="String">
        <value>Broadcast</value>
      </setting>
      <setting name="DiscordBotAllServersKeyword" serializeAs="String">
        <value>all</value>
      </setting>
      <setting name="RCON_BackupMessageCommand" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoBackup_IncludeSaveGamesFolder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Alert_ServerStartedMessageIPandPort" serializeAs="String">
        <value>{ipaddress}:{port}</value>
      </setting>
      <setting name="AutoBackup_TaskPriority" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="AutoUpdate_TaskPriority" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="AutoShutdown_TaskPriority" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="AutoStart_TaskPriority" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="Alert_OnlinePlayerCountChange" serializeAs="String">
        <value>Online Player Count:</value>
      </setting>
      <setting name="TaskSchedulerUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="TaskSchedulerPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoBackup_ParallelBackup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoBackup_SequencialDelayPeriod" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SteamCmdIgnoreExitStatusCodes" serializeAs="String">
        <value />
      </setting>
      <setting name="ProfileSyncServerModIdsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProfileSyncCrossArkClusterIdEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProfileSyncAutoShutdownEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </ServerManagerTool.Config>
  </userSettings>
</configuration>
