<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ServerManagerTool.Common.CommonConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ServerManagerTool.Common.CommonConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ServerManagerTool.Common.CommonConfig>
            <setting name="SteamCmdRelativePath" serializeAs="String">
                <value>SteamCMD</value>
            </setting>
            <setting name="SteamCmdExeFile" serializeAs="String">
                <value>SteamCMD.exe</value>
            </setting>
            <setting name="SteamCmdZipFile" serializeAs="String">
                <value>SteamCMD.zip</value>
            </setting>
            <setting name="SteamCmdUrl" serializeAs="String">
                <value>https://steamcdn-a.akamaihd.net/client/installer/steamcmd.zip</value>
            </setting>
            <setting name="SteamCmdInstallArgs" serializeAs="String">
                <value>+login anonymous +quit</value>
            </setting>
            <setting name="DefaultSteamAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamAPIKeyUrl" serializeAs="String">
                <value>https://steamcommunity.com/dev/apikey</value>
            </setting>
            <setting name="SteamCmdAuthenticateArgs" serializeAs="String">
                <value>+login {0} {1} +quit</value>
            </setting>
            <setting name="SteamProcessName" serializeAs="String">
                <value>Steam</value>
            </setting>
            <setting name="PublicIPCheckUrl1" serializeAs="String">
                <value>https://api.ipify.org</value>
            </setting>
            <setting name="PublicIPCheckUrl2" serializeAs="String">
                <value>http://whatismyip.akamai.com/</value>
            </setting>
        </ServerManagerTool.Common.CommonConfig>
    </applicationSettings>
    <userSettings>
        <ServerManagerTool.Common.CommonConfig>
            <setting name="SteamAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamClientFile" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeConfig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SteamCmdRemoveQuit" serializeAs="String">
                <value>False</value>
            </setting>
        </ServerManagerTool.Common.CommonConfig>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
